@font-face {
    src: url("https://assets.codepen.io/2479807/BasierCircleMono-Regular.otf");
    font-family: "Basier Circle Mono";
}

@font-face {
    src: url("https://assets.codepen.io/2479807/MUSETTA-Regular.otf");
    font-family: "Musetta";
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: "Basier Circle Mono", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* color: #222; */
}

.hidden {
    display: none;
}

button:not(.btn_login, #change_quote) {
    width: 170PX;
    font-family: inherit;
    border: none;
    background: none;
    padding: 25px 0px;
    font-size: 0.7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 8px;
    outline: none;
    cursor: pointer;
    opacity: 0.5;
}


.navigation {
    display: table;
    background-color: rgba(245, 245, 245, 0.5);
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
}


#clock {
    position: fixed;
    z-index: 3;
    left: 50%;
    transform: translate(-50%, 0);
    display: grid;
    align-items: center;
    margin: 5px auto;
    height: 60px;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}

#weather {
    width: 100vw;
    display: grid;
    align-items: center;
    /* background-color: #006cff; */
    margin: 0px 20px;
    text-align: right;
    font-size: 0.8rem;
    font-family: inherit;
}

#weather>span:nth-child(1) {
    margin-bottom: -20px;
}

.projects-scroll {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    width: 100vw;
    will-change: transform;
}

.projects .project {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.projects .project__content {
    padding: 5vw;
    text-align: center;
}

.projects .project h2 {
    font: 200 3rem 'Exo',
        sans-serif;
}

svg {
    display: none;
}


:root {
    --bg01-color: rgba(255, 236, 232, 0.7);
    --bg02-color: rgba(249, 254, 221, 0.7);
    --bg03-color: rgba(255, 236, 232, 0.7);
    --bg04-color: rgba(255, 236, 232, 0.7);
    --font-color: rgba(0, 0, 0, 1);
    --h2-color: rgba(0, 0, 0, 1);
    --check-color: #749ed7;
    --box01-color: rgba(255, 203, 188, 1);
    --box02-color: rgba(227, 235, 184, 1);
    --box03-color: rgba(236, 205, 134, 0.7);
}

.darkmode {
    --bg01-color: #575757;
    --bg02-color: #575757;
    --bg03-color: #575757;
    --bg04-color: #575757;
    --font-color: rgba(255, 255, 255, 1);
    --h2-color: rgba(255, 255, 255, 1);
    --check-color: #006cff;
    --box01-color: rgb(170, 128, 116);
    --box02-color: rgba(137, 144, 96);
    --box03-color: rgba(196, 158, 70, 0.7);
}

/*  */
body {
    background: var(--bg-color);
}

p {
    color: var(--font-color);
}

h2 {
    color: var(--h2-color);
}

button {
    color: var(--font-color);
}

.projects .project:nth-child(1) {
    background-color: var(--bg01-color);
}

.projects .project:nth-child(2) {
    background-color: var(--bg02-color);
}

.projects .project:nth-child(3) {
    background-color: var(--bg03-color);
}

.projects .project:nth-child(4) {
    background-color: var(--bg04-color);
}


/* 로그인 박스 */
#box01 {
    position: relative;
    width: 50vw;
    height: 300px;
    border-radius: 50px;
    background-color: var(--box01-color);
    filter: url(#turbulence);
}

#login-form {
    /* display: grid; */
    align-items: center;
    height: 300px;
    width: 100%;
    padding-top: 100px;
    margin-top: 50px;
}

#greeting {
    padding-top: 100px;
    margin-top: 50px;
    font-family: 'GmarketSansMedium';
}

#login-form input {
    width: 300px;
    height: 100px;
    background-color: rgba(255, 236, 232, 0.7);
    border: none;
    border-radius: 30px;
    transition: all, 0.4s;
    color: var(--font-color);
    font-size: 1rem;
    padding-left: 10px;
}

#login-form input::placeholder {
    color: var(--font-color);
    font-size: 0.8rem;
    font-family: 'Nanum Gothic', sans-serif;
}

input:focus {
    outline: none;
}

#login-form input:hover {
    background-color: rgba(255, 236, 232, 0.7);
}

#login-form button {
    width: 70px;
    height: 100px;
    color: var(--font-color);
    background-color: rgba(255, 236, 232, 0.7);
    /* border: 3px solid rgba(255, 236, 232, 0.7); */
    border: none;
    ;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all, 0.4s;
    border-radius: 25px;
}

#login-form button:hover {
    background-color: rgba(255, 236, 232, 0.7);
}


/* box02  명언 다른 걸로 할지 고민해보기 */
#box02 {
    position: relative;
    display: grid;
    align-items: center;
    position: relative;
    width: 50vw;
    height: 300px;
    border-radius: 50px;
    background-color: var(--box02-color);
    filter: url(#turbulence);
    margin-top: 50px;
}

#box02>div {}

#quote {
    margin: 10vh 5vw;
    font-size: 1rem;
    font-family: 'GmarketSansMedium';
}

#box02 span {
    margin-bottom: 50px;
}

#change_quote {
    position: absolute;
    border-radius: 17px;
    bottom: 10px; right: 0;
    background-color: var(--bg02-color);
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    margin-right: 50px;
}

#change_quote:hover{
    cursor: pointer;
}


/* todobox */
#box03 {
    background-color: var(--box03-color);
    filter: url(#turbulence);
}

#todo-list li {
    list-style: none;
    color: var(--font-color);
    font-size: 1rem;
    margin-bottom: -20px;
}

#todo-form>input::placeholder {
    color: var(--font-color);
    font-family: 'Nanum Gothic', sans-serif;
}


/* game */
#box04 {
    filter: url(#turbulence);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-family: Arial, sans-serif;
}

#game-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    text-align: center;
}

.card {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #eee;
}


/* toggle */
.line6 {
    position: fixed;
    right: 30px;
    bottom: 0;
    z-index: 99;
    margin: 25px 0px 0px 15px;
}

#dn {
    display: none;
}


/* toggle배경 width,height */
.toggle2 {
    cursor: pointer;
    display: inline-block;
    position: relative;
    right: 70px;
    bottom: 20px;
    margin-left: 75px;
    width: 54px;
    height: 26px;
    background: #dfe2e3;
    border-radius: 84px;
    transition: background 200ms cubic-bezier(.445, .05, .55, .95);
}

.toggle2:before,
.toggle2:after {
    margin-top: 5px;
}

.toggle2:before {
    /* content: "라이트모드"; */
    position: absolute;
    left: -85px;
    color: #749ed7;
}

.toggle2:after {
    /* content: "다크모드"; */
    position: absolute;
    right: -75px;
}

.toggle__handler {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    z-index: 2;
    background: #ffe5b5;
    background: #ffde7b;
    border-color: #debd56;
    box-shadow: none;
    background-size: 0;
    transition: transform .5s;
    border: 0.188em solid #caba94;
}

#dn:checked+.toggle2 {
    background: #dfe2e3
}

#dn:checked+.toggle2:before {
    color: var(--font-color)
}

#dn:checked+.toggle2:after {
    color: var(--check-color)
}

#dn:checked+.toggle2 .toggle__handler {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: inline-block;
    transform: translate3d(28px, 0, 0) rotate(0);
    border: .188em solid #caba94;
    background: #ffefb5;
    box-shadow: inset -.15em -.15em #ffe096;
    background-image: radial-gradient(circle at 60% 10%, #e6cea5 15%, transparent 0), radial-gradient(circle at 30% 50%, #e6cea5 10%, transparent 0), radial-gradient(circle at 60% 70%, #e6cea5 13%, transparent 0);
    transition: transform .2s ease-in-out, background .3s, border-color .3s
}